{% import '_macros.twig' as macros %}

<article class="{{ feed['@type']|lower }} layout-{{ feed.layout }}" data-content-type="{{ feed['@type']|lower }}">
	<header>
		{# {{ macros.typeDetection(feed['@type'] is defined ? feed['@type'] : 'NULL', feed.layout is defined ? feed.layout : 'NULL') }} #}
		<h1>{{feed.title}}</h1>
		{% if feed.description['content-type'] is defined and feed.description.data is not empty %}
		<p class="short-description bold">{{ feed.description.data }}</p>
		{% endif %}
		{% if feed.description is defined and feed.description is not empty %}
		<p class="short-description bold">{{ feed.description }}</p>
		{% endif %}
		{% if feed['@type'] == 'Document' and feed.creators is defined %}
		<p class="author-byline upper">{{feed.creators|join(', ', ' und ') }}{{feed.modification_date is defined ? ' | ' ~ feed.modification_date|date }}</p>
		{% endif %}
	</header>
	<section class="article-body clearfix">
		{{ feed.text is defined ? macros.text(feed.text) : null }}
		{% if feed.embed is defined %}
			{% set videoEmbedFixed = feed.embed|replace({'</script></div>':'</script>'}) %}
		{% endif %}
		{{ videoEmbedFixed|raw }}
	</section>
	{% include "_includes/component-sharing-buttons" %}
	{% include "_includes/component-doc-actions" with {webcode:feed.webcode is defined ? feed.webcode : null} %}
</article>
