<h2><strong class="upper"><a id="karteikarten" class="inventar-anchor">Karteikarten (Card Deck)</a></strong>&ensp;<a class="inventar-anchor-link" href="#karteikarten">#</a></h2>

<br><br>

<h3><strong>Karteikarten ohne Bild</strong></h3>
<br><br>
{%- set karteikartenOhneBild -%}
<div class="card-deck mb-3">
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/presse-aktuelles/themen-und-geschichten/coronavirus-disease-2019-covid-19/verhaltensregeln/3g-am-arbeitsplatz" class="card-link">
			<div class="card-body">
				<h3><strong>3G am Arbeitsplatz</strong></h3>
				<p class="card-text">
					<span class="description">Nach § 28b Absatz 1 Infektionsschutzgesetz ist der Zutritt zur Arbeitsstätte bis einschließlich 19. März 2022 nur Arbeitgeber und Beschäftigten mit 3G-Status erlaubt.</span>
				</p>
			</div>
		</a>  
	</div>
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/presse-aktuelles/themen-und-geschichten/coronavirus-disease-2019-covid-19/verhaltensregeln/impfenschuetzt" class="card-link">
			<div class="card-body">
				<h3><strong>Impfen schützt</strong></h3>
				<p class="card-text">
					<span class="description">Impfungen sind ein wichtiger Schritt zur Eindämmung der Corona-Pandemie. Beschäftigte müssen über die Schutzimpfung informiert werden.</span>
				</p>
			</div>
		</a>  
	</div>
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/presse-aktuelles/themen-und-geschichten/coronavirus-disease-2019-covid-19/verhaltensregeln/betrieblicher-pandemieplan" class="card-link">
			<div class="card-body">
				<h3><strong>Pandemieplan</strong></h3>
				<p class="card-text">
					<span class="description">Unternehmen können sich auf den Notfall vorbereiten und dafür sorgen, dass der Betrieb aufrechterhalten werden kann, auch wenn Personen in verschiedenen Funktionen ausfallen.</span>
				</p>
			</div>
		</a>  
	</div>
</div>
<div class="card-deck mb-3">
  <div class="card mb-3" style="max-width: 18rem;">
      <a href="https://www.bgetem.de/presse-aktuelles/themen-und-geschichten/coronavirus-disease-2019-covid-19/verhaltensregeln/hygienekonzept" class="card-link">
        <div class="card-body">
          <h3><strong>Hygienekonzept</strong></h3>
          <p class="card-text">
            <span class="description">Je mehr Personen sich entsprechend den Hygieneregeln angemessen verhalten, umso geringer ist das Infektionsrisiko für die Gemeinschaft und für den Einzelnen.</span>
          </p>
        </div>
      </a>  
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
      <a href="https://www.bgetem.de/presse-aktuelles/themen-und-geschichten/coronavirus-disease-2019-covid-19/verhaltensregeln/zur-teststrategie-in-bg-etem-mitgliedsbetrieben" class="card-link">
        <div class="card-body">
          <h3><strong>Antigen-Tests</strong></h3>
          <p class="card-text">
            <span class="description">Zur Minderung des betrieblichen SARS-CoV-2-Infektionsrisikos hat der Arbeitgeber Beschäftigten mindestens zweimal pro Kalenderwoche einen Corona-Test anzubieten.</span>
          </p>
        </div>
      </a>  
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
      <a href="https://www.bgetem.de/presse-aktuelles/themen-und-geschichten/coronavirus-disease-2019-covid-19/verhaltensregeln/hygieneplaene-ergaenzung-der-gefaehrdungsbeurteilung" class="card-link">
        <div class="card-body">
          <h3><strong>Hygieneplan</strong></h3>
          <p class="card-text">
            <span class="description">Die BG ETEM hat Muster-Hygienepläne zur Ergänzung der Gefährdungsbeurteilung entwickelt.</span>
          </p>
        </div>
      </a>  
  </div>
</div>
{%- endset -%}

{{ karteikartenOhneBild }}

<small class="toggle-code">HTML</small>
<pre class="code">
	<code class="language-html">
	{{- karteikartenOhneBild|e -}}
	</code>
</pre>

<br><br><br>
<hr>
<br><br><br>

<h3><strong>Karteikarten mit Bild kurz</strong></h3>
<br><br>
{%- set karteikartenMitBildShort -%}
<div class="card-deck mb-3">
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz/praeventionspreis/preistraeger/2020" class="card-link">
			<img src="https://www.bgetem.de/redaktion/arbeitssicherheit-gesundheitsschutz/bilder/praevpreis/preistraeger-2020/die-preistraeger-des-praeventionspreises-2020-der-bg-etem/@@images/image" class="img-fluid img-top" title="Die Preisträger des Präventionspreises 2020 der BG ETEM." alt="Die Preisträger des Präventionspreises 2020 der BG ETEM.">
			<div class="card-body">
				<h3><strong>2020</strong></h3>
				<p class="card-text">
					<span class="description">Publikumspreis 2020: BSH Hausgeräte GmbH</span>
				</p>
			</div>
		</a>  
	</div>
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz/praeventionspreis/preistraeger/2018" class="card-link">
			<img src="https://www.bgetem.de/redaktion/arbeitssicherheit-gesundheitsschutz/bilder/praevpreis/preistraeger-2018/die-preistraeger-des-praeventionspreises-2018-der-bg-etem/@@images/image" class="img-fluid img-top" title="Die Preisträger des Präventionspreises 2018 der BG ETEM." alt="Die Preisträger des Präventionspreises 2018 der BG ETEM.">
			<div class="card-body">
				<h3><strong>2018</strong></h3>
				<p class="card-text">
					<span class="description">Publikumspreis 2018: Christiansen Print GmbH</span>
				</p>
			</div>
		</a>  
	</div>
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz/praeventionspreis/preistraeger/2016" class="card-link">
			<img src="https://www.bgetem.de/redaktion/arbeitssicherheit-gesundheitsschutz/bilder/praevpreis/preistraeger-2016/die-preistraeger-des-iq-praeventionspreises-2016-der-bg-etem-foto-andrea-enderlein/@@images/image" class="img-fluid img-top" title="Die Preisträger des IQ-Präventionspreises 2016 der BG ETEM (Foto: Andrea Enderlein)" alt="None">
			<div class="card-body">
				<h3><strong>2016</strong></h3>
				<p class="card-text">
					<span class="description">IQ-Präventionspreis 2016: Druckhaus Mainfranken GmbH</span>
				</p>
			</div>
		</a>  
	</div>
</div>
<div class="card-deck mb-3">
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz/praeventionspreis/preistraeger/2014" class="card-link">
			<img src="https://www.bgetem.de/redaktion/arbeitssicherheit-gesundheitsschutz/bilder/praevpreis/preistraeger-2014/preistraeger-des-praeventionspreises-2014-foto-andrea-enderlein/@@images/image" class="img-fluid img-top" title="Preisträger des Präventionspreises 2014 (Foto: Andrea Enderlein)" alt="Preisverleihung des Präventionspreises 2014 in Köln am 08. Oktober 2014 im Schokoladenmuseum.">
			<div class="card-body">
				<h3><strong>2014</strong></h3>
				<p class="card-text">
					<span class="description">IQ-Präventionspreis 2014: Ernst Feiler GmbH</span>
				</p>
			</div>
		</a>  
	</div>
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz/praeventionspreis/preistraeger/2012" class="card-link">
			<img src="https://www.bgetem.de/redaktion/arbeitssicherheit-gesundheitsschutz/bilder/praevpreis/preistraeger-2012/preistraeger-des-praeventionspreises-2012/@@images/image" class="img-fluid img-top" title="Preisträger des Präventionspreises 2012" alt="Verleihung des Präventionspreises der BG ETEM am 12.09.2012 in Dresden">
			<div class="card-body">
				<h3><strong>2012</strong></h3>
				<p class="card-text">
					<span class="description">1. Preis: Ebner &amp; Spiegel GmbH, 2. Preis: Karl Knauer KG, 3. Preis: SIG Combibloc GmbH Werk Linnich</span>
				</p>
			</div>
		</a>  
	</div>
	<div class="card mb-3" style="max-width: 18rem;">
		<a href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz/praeventionspreis/preistraeger/2010" class="card-link">
			<img src="https://www.bgetem.de/redaktion/arbeitssicherheit-gesundheitsschutz/bilder/praevpreis/preistraeger-2010-1/preistraeger-des-praeventionspreises-2010/@@images/image" class="img-fluid img-top" title="Preisträger des Präventionspreises 2010" alt="None">
			<div class="card-body">
				<h3><strong>2010</strong></h3>
				<p class="card-text">
					<span class="description">1. Preis: Transfertex GmbH &amp; Co. Thermodruck KG, 2. Preis: RPC Bebo Print Patent GmbH, 3. Preis: Mayer &amp; Söhne Druck- und Mediengruppe</span>
				</p>
			</div>
		</a>  
	</div>
</div>
{%- endset -%}

{{ karteikartenMitBildShort }}

<small class="toggle-code">HTML</small>
<pre class="code">
	<code class="language-html">
	{{- karteikartenMitBildShort|e -}}
	</code>
</pre>

<br><br><br>
<hr>
<br><br><br>

<h3><strong>Karteikarten mit Bild lang</strong></h3>
<br><br>
{%- set karteikartenMitBildLong -%}
	<div class="card-deck mb-3">
	  <div class="card mb-3" style="min-width: 15rem; max-width: 15rem;">
	    <a href="https://medien.bgetem.de/medienportal/artikel/VDAwMw--">
	      <img class="card-img-top" src="https://medien.bgetem.de/medienportal/artikel/VDAwMw--/@@images/72faf48b-f023-463a-8464-ce2a274991a0.jpeg">
	        <div class="card-body">
	          <h3>Ergonomische Gestaltung von Montagearbeitsplätzen</h3>
	          <p class="max-lines ellipsis">Regelmäßig wechseln zwischen Sitzen und Stehen, die Höhe der Arbeitsfläche richtig einstellen, für ausreichend Bewegungsfreiraum sorgen - diese und weitere Maßnahmen helfen, die Belastungen an Montagearbeitsplätzen zu reduzieren.</p>
	      </div>
	    </a>
	  </div>
	  <div class="card mb-3" style="min-width: 15rem; max-width: 15rem;">
	    <a href="https://medien.bgetem.de/medienportal/artikel/U1owMTM-">
	      <img class="card-img-top" src="https://www.bgetem.de/checklisten.jpg">
	        <div class="card-body">
	          <h3>Checklisten zur Gefährdungsbeurteilung: Ergonomie</h3>
	          <p class="max-lines ellipsis">Licht am Arbeitsplatz, ergonomische  Gestaltung von Montagearbeitsplätzen.</p>
	      </div>
	    </a>
	  </div>
	  <div class="card mb-3" style="min-width: 15rem; max-width: 15rem;">
	    <a href="https://medien.bgetem.de/medienportal/artikel/TUIwNDg-">
	      <img class="card-img-top" src="https://medien.bgetem.de/medienportal/artikel/TUIwNDg-/@@images/cb5d2c62-bbe7-476d-9314-d9c52e0b5100.jpeg">
	        <div class="card-body">
	          <h3>Sicheres Arbeiten in Druckverarbeitung und Buchbinderei</h3>
	          <p class="max-lines ellipsis">Lärm, Schneidewerkzeuge, Klebstoffe und Stäube - wie geht man sicher mit Gefährdungen in Druckverarbeitung und Buchbinderei um? Lesen Sie hier auch, worauf beim Transport, beim Heben, Tragen und Umsetzen von Lasten zu achten ist.</p>
	      </div>
	    </a>
	  </div>
	  <div class="card mb-3" style="min-width: 15rem; max-width: 15rem;">
	    <a href="https://medien.bgetem.de/medienportal/artikel/MjAzLTAyMw--">
	      <img class="card-img-top" src="https://www.bgetem.de/regelwerk.jpg">
	        <div class="card-body">
	          <h3>DGUV Information 203-023 (BGI 804-2): Ergonomie an Näharbeitsplätzen - ein Ratgeber für die Praxis</h3>
	          <p class="max-lines ellipsis">Die DGUV Information bietet eine praxisnahe Handlungsanleitung zur ergonomischen Einrichtung von Näharbeitsplätzen. Belastungen des Muskel-Skelett-Systems und daraus resultierende Erkrankungen insbesondere der Wirbelsäule und des Hand-Arm-Systems sollen verringert werden.</p>
	      </div>
	    </a>
	  </div>
	  <div class="card mb-3" style="min-width: 15rem; max-width: 15rem;">
	    <a href="https://medien.bgetem.de/medienportal/artikel/VDAxMw--">
	      <img class="card-img-top" src="https://medien.bgetem.de/medienportal/artikel/VDAxMw--/@@images/1e739173-06a0-4955-92aa-ad16dd0cf92d.jpeg">
	        <div class="card-body">
	          <h3>Gesund bleiben beim Nähen</h3>
	          <p class="max-lines ellipsis">Ein ergonomisch gestalteter Arbeitsplatz erlaubt es, die Näharbeit weniger ermüdend durchzuführen und vermeidet langfristige körperliche Schäden am Bewegungsapparat. Ergonomische Verbesserungen lassen sich oft mit wenigen Maßnahmen erreichen.</p>
	      </div>
	    </a>
	  </div>
	  <div class="card mb-3" style="min-width: 15rem; max-width: 15rem;">
	    <a href="https://medien.bgetem.de/medienportal/artikel/VDAxM0U-">
	      <img class="card-img-top" src="https://medien.bgetem.de/medienportal/artikel/VDAxM0U-/@@images/6bd7f6c1-f0ee-4065-a49e-bf83159117f9.jpeg">
	        <div class="card-body">
	          <h3>Gesund bleiben beim Nähen (englische Fassung)</h3>
	          <p class="max-lines ellipsis">Ein ergonomisch gestalteter Arbeitsplatz erlaubt es, die Näharbeit weniger ermüdend durchzuführen und vermeidet langfristige körperliche Schäden am Bewegungsapparat. Ergonomische Verbesserungen lassen sich oft mit wenigen Maßnahmen erreichen.</p>
	      </div>
	    </a>
	  </div>
	</div>
{%- endset -%}

{{ karteikartenMitBildLong }}

<small class="toggle-code">HTML</small>
<pre class="code">
	<code class="language-html">
	{{- karteikartenMitBildLong|e -}}
	</code>
</pre>
