
{% import '_macros.twig' as macros %}
{% extends '_layout_' ~ currentSite.handle ~ '.twig' %}

{% set titleImageTransforms = {
	'(min-width: 1px)': {
		width: 345,
		ratio: 16/9,
		mode: 'crop',
	}
} %}
{% set titleImageAttributes = {alt: entry.cover.one().title, title: entry.cover.one().title, class: '' } %}
{% set commentParams = {
    ownerId: entry.id
} %}
{% set renderParams = {
    ownerId: entry
} %}
{% set commentCount = (craft.comments.fetch(commentParams) | length) %}
{% set soundcloudGhost = craft.assets.id(30313).one() %}


{% css %}
{% if entry.kommentare and not entry.kommentare.commentEnabled %}
	div.bg_cc--i-footer {
		display: none;
		visibility: hidden;
	}
{% endif %}
	
{% endcss %}


{% block content %}

  <div id="viewlet-above-content">
    <nav id="plone-breadcrumb" aria-label="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ alias(currentSite.baseUrl) }}">Startseite</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ alias(currentSite.baseUrl) }}">Presse / Aktuelles</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ alias(currentSite.baseUrl) }}">Themen</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ alias(currentSite.baseUrl) }}">Podcast "Ganz sicher"</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <span>{{ entry.title }}</span>
          </li>
        </ol>
      </div>
    </nav>
  </div>

<div class="container bg-layout_medien_container cluster my-5">

	<div class="row">
	    <div class="col-lg-8">
	    	<article class="" data-content-type="">
				<header>
	    			<p class="roof-row upper">{{ entry.dachzeile ? entry.dachzeile : 'Sicherheit am Arbeitsplatz' }}</p>
					<h1>{{entry.title}}</h1>
					{% if entry.description is defined and entry.description is not empty %}
					<div class="dot">
						<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
						  <defs></defs>
						  <circle cx="250" cy="250" r="250" fill="#0063af"></circle>
						</svg>
					</div>
					<p class="intro description bold">{{ entry.description }}</p>
					{% endif %}
					<p class="author-byline">Letzte Änderung: {# {{ authors|join(', ', ' und ') }}  #}{{ entry.postDate|date('d.m.Y') }}</p>
				</header>
				<section class="article-body clearfix">
					{% if entry.cover is defined and entry.cover is not empty %}
					<figure class="news-image inline float-start mt-1" style="float: left;">
						{{craft.images.pictureMedia(entry.cover.one(), titleImageTransforms, null, titleImageTransforms)}}
						{% if entry.cover.one().imgCaption is defined and entry.cover.one().imgCaption|length %}<figcaption>{{ entry.cover.one().imgCaptionn }}</figcaption>{% endif %}
					</figure>
					{% endif %}
					{{ entry.body | replace({'<h2>':'<h2 class="my-3">'})|raw }}
					<div class="soundcloud-mask soundcloud-player mt-5" style="background: url({{ soundcloudGhost.getUrl({ width: 300 }) }}); background-repeat: no-repeat; background-size: cover; width: 100%; height: 300px; cursor: pointer;">
		              <small class="load-soundcloud-player px-5 d-flex justify-content-center align-items-center text-center h-100 w-100" style="background: rgba(255,255,255,0.8)" data-soundcloud-track-id="{{ entry.soundcloudTrackId }}">
		                <span class="">
		                  <b>Zum Aktivieren der Podcastfolge klicken Sie bitte hier. Mit der Aktivierung werden Daten an Soundcloud übermittelt. Weitere Informationen in unserer <a href="https://www.bgetem.de/die-bgetem/datenschutz">Datenschutzerklärung</a></b>.
		                </span></small>
		            </div>
					{% if entry.type == 'podcast' %}
					<div class="mt-5">
						<h2>Shownotes</h2>
						{{ entry.shownotes }}
					</div>
					
					{% endif %}
				</section>

				{% if currentUser and entry.kommentare and entry.kommentare.commentEnabled %}
				<aside class="mt-5">
					<h3 class="h5 mt-2 text-uppercase bg_font-variant-asc fw-bold">Kommentare:</h3>
					<div>
						{{ craft.comments.render(entry.id) }}
					</div>
				</aside>
				{% elseif currentUser and entry.kommentare and entry.kommentare.commentEnabled == false and commentCount > 0 %}
					<aside class="mt-5">
					<h3 class="h5 mt-2 text-uppercase bg_font-variant-asc fw-bold">Kommentare:</h3>
						<div>
							{{ craft.comments.render(entry.id, renderParams) }}
						</div>
						<p class="mt-5 quiet"><i>Dieser Beitrag kann nicht mehr kommentiert werden.{{ (entry.kommentarschliessungAnmerkung ? '<br> Anmerkung Moderator: ' ~ entry.kommentarschliessungAnmerkung)|raw }}</i></p>
					</aside>
				{% else %}
					<aside class="mt-5">
						<p class="mt-2"><i>Dieser Beitrag kann nicht kommentiert werden.</i></p>
					</aside>
				{% endif %}
				
				{% include "_includes/component-sharing-buttons" %}
				{% include "_includes/component-doc-actions" with {webcode:entry.webcode is defined ? entry.webcode : null} %}
			</article>
	    </div>
	    <div class="col-lg-3 offset-md-1 portlets">
	    	<div class="portlet card card-shadow mb-3" {# style="max-width: 18rem;" #}>
		        <div class="card-header">
		          <h3 class="h6">Abo-Services</h3>
		        </div>
		        <div class="card-body portlet-body-wrapper">
		          <p>Bitte abonnieren Sie hier unsere aktuellen <a href="https://www.bgetem.de/++add++PressSubscriber"><strong>Pressemitteilungen</strong>.</a><br>Wenn Sie sich wieder abmelden möchten, nutzen Sie bitte <a href="https://www.bgetem.de/email-unsubscribe-view">diesen Link.</a></p>
		          <p>Abonnieren Sie unseren <strong><a href="https://www.bgetem.de/presse-aktuelles/pressemeldungen/aktuelle-pressemeldungen/RSS">News-Feed</a></strong> (Anleitung: <span class="external-link"><a href="https://www.bgetem.de/presse-aktuelles/rss-feed-so-gehts">RSS-Feed - So geht's</a>)</span></p>
		          <p>Oder abonnieren Sie unsere Newsletter <strong><a href="https://www.bgetem.de/medien-service/etem-magazin-fuer-praevention-rehabilitation-und-entschaedigung" title="Der Newsletter für Menschen mit Verantwortung für Arbeitssicherheit.">etem</a></strong><span> und&nbsp;<strong><a href="https://www.bgetem.de/medien-service/profi-zeitschrift-fuer-versicherte" title="Der Newsletter für Beschäftigte.">profi</a> </strong></span>an.</p>
		        </div>
		      </div>


		      <div class="portlet card card-shadow mb-3" {# style="max-width: 18rem;" #}>
		        <div class="card-header"><h3 class="h6">Deutsche Gesetzliche Unfallversicherung</h3></div>
		        <div class="card-body">
		          <div class="row">
		            <div class="col-12">
		              <span>
		                <p><a target="_blank" href="https://www.asu-arbeitsmedizin.com/wissenschaft/schweissrauchexpositionen-deutschland-und-bewertung-der-gesundheitsschaedigenden">Gefahren durch Schweißrauchexpositionen</a><br>
		                   <small>17.04.2023 06:36</small></p>
		              </span>
		              <span>
		                <p><a target="_blank" href="https://topeins.dguv.de/kolumne/aufgaben-fuehrungskraft/">Ohne Schmierstoff geht es nicht</a><br>
		                   <small>14.04.2023 06:54</small></p>
		              </span>
		              <span>
		                <p><a target="_blank" href="https://www.bgbau.de/mitteilung/im-fruehjahr-vor-sonne-schuetzen">Schon im Frühjahr vor der Sonne schützen</a><br>
		                   <small>13.04.2023 06:30</small></p>
		              </span>
		              <span>
		                <p><a target="_blank" href="https://www.ukrlp.de/sicherheit-gesundheitsschutz/gesundheit-im-betrieb/homeoffice">Homeoffice-Guide</a><br>
		                   <small>12.04.2023 07:53</small></p>
		              </span>
		              <span>
		                <p><a target="_blank" href="https://etem.bgetem.de/2.2023/titelstories/die-richtigen-worte-finden/document_view?pk_campaign=etem-newsletter-2.2023&amp;pk_kwd=2-die-richtigen-worte-finden">Umgang mit psychisch auffälligen Beschäftigten</a><br>
		                   <small>11.04.2023 06:20</small></p>
		              </span>
		              <a class="btn btn-secondary" role="button" href="https://www.bgetem.de/presse-aktuelles/portlets/deutsche-gesetzliche-unfallversicherung">Weiterlesen</a>    
		            </div>
		          </div>
		        </div>
		      </div>
	    </div>
	</div>

</div>

{% endblock %}