{% set jsonLdContainer = seomatic.jsonLd.container() %}
{% do jsonLdContainer.include(false) %}
{% set scriptContainer = seomatic.script.container() %}
{% do scriptContainer.include(false) %}

{% set cart = craft.commerce.carts.cart %}

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="UTF-8">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#004993">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<meta name="robots" content="noindex,nofollow">	
		{# {% hook 'seomaticRender' %} #}
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}css/siguv.min.css">
		<link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}css/sidebar.min.css">
		<link rel="stylesheet" href="{{ rev('css/styles.css') }}">
		{# <link rel="stylesheet" href="https://www.bgetem.de/++resource++collective.sidebar/css/sidebar.min.css?version=2021-04-18%2012%3A25%3A23.019928"> #}



	</head>
	<body class="d-flex flex-column h-100 magazin userrole-authenticated" data-content-type="" data-with-sidebar="false">

		<header id="portal-top">
      <div id="portal-header" class="bg-light">
        <div class="container">
          <div class="d-flex align-items-center justify-content-end">
            <div class="align-middle">
              <span class="site-action">
                <a href="#" title="Gebärdensprache">
                  <svg viewBox="0 0 350 350" xmlns="http://www.w3.org/2000/svg">
                    <title>DGUV Icon Sign Language</title>
                    <path d="M 193.12 150.4 L 228.29 150.4 L 263.29 115.48 C 270.06 108.717 266.971 97.161 257.729 94.679 C 253.44 93.528 248.862 94.751 245.72 97.89 Z M 245.81 150.4 L 250.59 150.4 C 257.565 150.406 264.218 153.337 268.93 158.48 C 269.564 159.17 270.155 159.898 270.7 160.66 L 283.7 147.66 C 288.857 142.487 288.473 134.006 282.87 129.32 C 277.87 125.1 270.31 125.89 265.68 130.52 Z M 65.3 157.67 L 87.72 135.22 L 87.72 130.48 L 87.72 129.79 C 87.72 123.23 82.94 117.33 76.41 116.79 C 69.155 116.144 62.907 121.856 62.9 129.14 L 62.9 130.48 L 62.9 160.09 Z M 139.56 121.67 C 146.215 129.853 147.081 141.311 141.73 150.4 L 191.14 150.4 L 183.33 142.58 L 244.75 80.88 C 249.38 76.24 250.17 68.68 245.95 63.66 C 241.278 58.053 232.8 57.669 227.64 62.83 L 165.76 125 L 157 116.21 L 201.25 71.9 C 205.88 67.27 206.67 59.71 202.45 54.68 C 197.771 49.075 189.291 48.696 184.13 53.86 L 124.88 113.18 C 130.618 114.2 135.815 117.205 139.56 121.67 Z M 274.33 200 L 186.67 200.15 L 186.67 187.76 L 249.26 187.76 C 255.81 187.76 261.71 182.97 262.26 176.43 C 262.918 169.16 257.199 162.891 249.9 162.88 L 112.16 162.88 L 127.62 147.4 L 128.12 146.93 C 132.75 142.29 133.54 134.73 129.33 129.7 C 124.655 124.096 116.177 123.716 111.02 128.88 L 110.02 129.81 L 73.43 166.5 L 73.43 166.5 C 66.534 173.474 62.677 182.892 62.7 192.7 L 62.7 249.92 L 62.7 249.92 L 62.7 250 C 62.678 277.449 84.911 299.718 112.36 299.74 L 112.36 299.74 L 154.54 299.64 L 237.4 299.64 C 244.703 299.634 250.428 293.364 249.77 286.09 C 249.2 279.56 243.3 274.77 236.77 274.77 L 186.67 274.77 L 186.67 262.38 L 262.32 262.46 C 271.892 262.189 277.581 251.656 272.56 243.502 C 270.361 239.931 266.512 237.709 262.32 237.59 L 186.67 237.51 L 186.67 225.05 L 273.67 224.9 C 280.22 224.9 286.12 220.11 286.67 213.57 C 287.346 206.298 281.633 200.016 274.33 200 Z"></path>
                  </svg>
                  <span>Gebärdensprache</span>
                </a>
              </span>
              <span class="site-action">
                <a href="#{}" title="Leichte Sprache">
                  <svg viewBox="0 0 350 350" xmlns="http://www.w3.org/2000/svg">
                    <title>DGUV Icon Easy Language</title>
                    <path d="M 199.94 249.79 L 262.32 224.09 L 262.32 197.16 L 199.94 222.87 L 199.94 249.79 Z M 199.94 208.84 L 262.32 183.14 L 262.32 156.21 L 199.94 181.92 L 199.94 208.84 Z M 299.75 100.75 L 249.75 121.06 C 246.752 63.549 182.622 30.85 134.315 62.202 C 114.36 75.153 101.754 96.822 100.36 120.57 L 50.21 99.93 L 50.21 248.38 L 175.05 299.78 L 299.75 249.14 Z M 125.14 125.21 C 124.985 86.813 166.455 62.647 199.785 81.711 C 217.294 91.726 227.048 111.301 224.5 131.31 L 175.13 151.36 L 125.49 130.93 C 125.269 129.031 125.152 127.122 125.14 125.21 Z M 75.14 137.21 L 162.48 173.21 L 162.48 267.57 L 75.2 231.62 Z M 187.44 267.73 L 187.44 173.33 L 274.76 137.87 L 274.76 232.29 Z M 132.53 177.21 L 113.93 195.85 L 105.9 187.8 L 88.25 205.49 L 113.93 231.22 L 150.18 194.89 L 132.53 177.21 Z"></path>
                  </svg>
                  <span>Leichte Sprache</span>
                </a>
              </span>
            </div>
            <div>
              <form action="#" class="" id="site-search" role="search" aria-label="Sitewide" data-dashlane-rid="82adb7dcb424761b" data-form-type="">
                <label class="sr-only" for="header-search">Suchbegriff/Webcode</label>
                <div class="input-group">
                  <input type="search" name="SearchableText" class="form-control border-dark" id="header-search" placeholder="Suchbegriff/Webcode" aria-label="Suchbegriff/Webcode" data-dashlane-rid="c16020f93590bb4b" data-form-type="">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-light border-dark" data-dashlane-label="true" data-dashlane-rid="dde61bafed85de5b" data-form-type="">Suchen</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    
		{% include '_includes/component-portal_navigation.twig' %}

		<div id="my-page">
			{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</div>
		
		<div class="py-5 border-bottom bg_border-15 bg_border-dguv-blau">
			<div class="container bg-layout_medien_container">
				<small>RSS Feed | Drucken</small>
			</div>
		</div>
		<div class="back-to-top-arrow">
			<a href="#" class="scroll-to-top">
				<svg viewBox="104.2 87.245 288.211 250.309" xmlns="http://www.w3.org/2000/svg">
				  <g style="" transform="matrix(0, -0.578805, 0.578805, 0, 103.621086, 337.553772)">
				    <path d="M294.671697,215.182669 L0.000000,215.182669 L0.000000,285.440041 L295.353808,285.440041 L145.289517,449.146539 L191.673025,498.940599 L432.458000,249.970300 L191.673025,1.000000 L145.289517,51.476170 Z" stroke="none"/>
				  </g>
				</svg>
			</a>
		</div>


		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		{# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script> #}

		<script src="{{ getenv('DEFAULT_SITE_URL') }}/js/bundle.js"></script>
		<script src="{{ getenv('DEFAULT_SITE_URL') }}/js/sidebar.min.js"></script>

	</body>
</html>