{% if entry is not defined or entry is null %}
    {% exit 404 %}
{% endif %}

{% do craft.blitz.options({
    tags: ['artikel']
}) %}

{% import '_macros.twig' as macros %}
{% extends "_layout" %}



{% block content %}
 

{% scss %}
/*! Comment */
article section.article-body div.text-1 {
	> figure:first-of-type,
	> div.caption:first-of-type,
	> p:first-of-type > img {
		display: none;
	}
}
{# article section.article-body div.text-1 div.caption:first-child {
	display: none;
} #}
{# article section.article-body div.text-1 img.image-inline:first-of-type {
	display: none;
} #}
{# article section.article-body figure.cover figcaption * {
	&:not(.caption) {
	display: none;
	}
} #}
article section.article-body figure.cover figcaption * {
	&.caption {
	&:not(:first-of-type) {
	display: none;
	}
	
	}
}
.footer {
    .copyright {
        color: silver;
    }
}
{% endscss %}
{% set verwandteEintr채ge = entry.relatedEntries %}

<article>

	<!-- Artikel Header -->

	<header>
		<div class="container my-3 my-md-5">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2">
					{{ (entry.dachzeile ? '<p class="roof-row upper">' ~ entry.dachzeile ~ '</p>')|raw }}
					<h1>{{ entry.title }}</h1>
					{# {{ entry.text | getFirstImage }} #}
					{% if entry.intro is not empty %}
					<div class="dot">
						<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
							<circle cx="250" cy="250" r="250" fill="#0086cd"></circle>
						</svg>
					</div>
					<p class="intro description bold">{{ entry.intro }}</p>
					{% endif %}
					<p class="bi bi-hourglass-split"><span class="ps-1">Lesedauer: {{ entry.readTime }}{{ entry.readTime > 1 ? ' Minuten' : ' Minute' }}</span></p>
				</div>
			</div>
		</div>
		{% set cover = entry.titlestoryCover[0] ??? entry.cover[0] %}
		{% if not cover == null %}
		<div class="container my-3 my-md-5">
			<figure class="cover">
				{% set imgTransforms = {
				  '(max-width: 1199px)': {
				      width: 718,
				      height: 416,
				  },
				  '(min-width: 1200px)': {
				      width: 1310,
				      height: 746,
				  }
				} %}
				{% set cardImgAttributes = { alt: entry.title, title: entry.title, class:'card-img-top rounded-0' } %}
				{{ craft.images.pictureMedia(cover, imgTransforms, null, cardImgAttributes) }}
				<figcaption>
					{{ cover.imgCaption ??? entry.text | retconOnly( [ 'div.caption:nth-of-type(1)' ] ) }}
				</figcaption>
			</figure>
		</div>
		{% endif %}
	</header>

	<!-- Artikel Body -->

	<section class="article-body clearfix">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2">

					<div class="text-1 mb-5">
					{{ (entry.text | retconAttr( 'table', { class: 'table' }, false ) | replace({ '<ul>':'<ul class="my-3">','<h2>':'<h2 class="mb-3">','<h3>':'<h3 class="mb-2">','<h4>':'<h4 class="mb-2">' }))|raw }}
					</div>

					{% if entry.id == 28361 %}
					<!-- Beispiel Bildergalerie (Carousel) -->
						{% include '_includes/component-gallery-slider-with-thumbnails.twig' with {galleryImages: gallery.images} %}
					{% endif %}

					{% if entry.infobox is not empty %}
					<div class="infobox infobox-1 mt-5 mt-lg-0 mb-5 border border-dguv-cyan border-dashed p-4 p-md-5{# {% if entry.text2 is not empty %} floating mt-lg-0 me-lg-5{%endif %} #}">
						{{ entry.infobox }}
					</div>
					{% endif %}

					{% if entry.galerieposition == 'oben' and entry.video1 is not empty %}
						{{ entry.video1 }}
						<script src="//e.video-cdn.net/v2/embed.js"></script>
					{% endif %}
					
					{% if  entry.text2 is not empty %}
					<div class="text-2 mt-5 mb-5">
						{{ (entry.text2 | retconAttr( 'table', { class: 'table' }, false ) | replace({ '<ul>':'<ul class="my-3">','<h2>':'<h2 class="mb-3">','<h3>':'<h3 class="mb-2">','<h4>':'<h4 class="mb-2">' }))|raw }}
					</div>
					{% endif %}

					{% if entry.infobox2 is not empty %}
					<div class="infobox infobox-2 mt-5 mb-5 border border-dguv-cyan border-dashed p-4 p-md-5{# {% if entry.text3 is not empty %} floating mt-lg-0 me-lg-5{%endif %} #}">
						{{ entry.infobox2 }}
					</div>
					{% endif %}

					{% if  entry.text3 is not empty %}
					<div class="text-3 mt-5 mb-5">
						{{ (entry.text3 | retconAttr( 'table', { class: 'table' }, false ) | replace({ '<ul>':'<ul class="my-3">','<h2>':'<h2 class="mb-3">','<h3>':'<h3 class="mb-2">','<h4>':'<h4 class="mb-2">' }))|raw }}
					</div>
					{% endif %}

					{% if entry.galerieposition != 'oben' and entry.video1 is not empty%}
					<div class="video mt-5 mb-5">
						{{ entry.video1 }}
					</div>
					{% endif %}

					{% if entry.video2 is not empty %}
					<div class="video mt-5 mb-5">
						{{ entry.video2 }}
					</div>
					{% endif %}

					{% if entry.video3 is not empty %}
					<div class="video mt-5 mb-5">
						{{ entry.video3 }}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	<!-- Artikel Infobox Abbinder -->

	{% if entry.infobox3 is not empty %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 offset-md-2">
				<div class="infobox infobox-abbinder mt-5 mb-5 border-top bg_border-dguv-blau p-4 p-md-5 bg_bg-dguv-grau-leicht">
					{{ entry.infobox3|replace({'<h4>':'<p>','</h4>':'</p>'})|raw }}
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- Artikel Stichworte (Tags) -->

	{% if entry.tagsMagazin is not empty %}
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2">
					<p class="h6 pt-2 mb-3 text-uppercase bg_font-variant-ac pt-2 text-muted">Stichworte</p>
					{% for tag in entry.tagsMagazin %}
						<a href="{{ url('tags/'~tag.slug) }}" class="btn btn-primary me-2 text-decoration-none">#{{ tag.title }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}

	<!-- Artikel Verwandte Beitr채ge -->

	{% if verwandteEintr채ge is not empty %}
		{% set relatedEntryCoverTransforms = {
			  '(min-width: 1px)': {
		        width: 388,
		        ratio: 16/9,
		        mode: 'crop',
		    }
		} %}
		<aside class="listings mt-5">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-8 offset-md-2">
						<p class="h6 pt-2 mb-3 text-uppercase bg_font-variant-ac pt-2 text-muted">Mehr zum Thema</p>
						<ul class="listing">
						{% for entry in verwandteEintr채ge %}
						{% set relatedEntryCover = entry.titlestoryCover[0] ??? entry.cover[0] %}
						{% set relatedEntryCoverAttributes = { alt: '', title: relatedEntryCover.title ??? 'BGETEM Logo' } %}
							<li class="card listing__item mb-3 mb-md-5">
								<article class="related-entry">
									<a href="{{ entry.url }}" class="d-block py-3 py-md-3">
										<div class="row g-0">
											<div class="col-4">
												<figure class="">
												{% if not relatedEntryCover == null %}
													{{craft.images.pictureMedia(relatedEntryCover, relatedEntryCoverTransforms, null, relatedEntryCoverAttributes)}}
												{% else %}
												<img src="../img/etem_search_replace.svg" alt="">
												{% endif %}
											</figure>
											</div>
											<div class="col-8">
												<div class="ps-3">
													{{ (entry.dachzeile ? '<p class="roof-row upper"><small>' ~ entry.dachzeile ~ '</small></p>')|raw }}
													<h1 class="h5 fw-bold">{{ entry.title }}</h1>
													<p><small>{{ entry.description ??? entry.intro }}</small></p>
												</div>
											</div>
										</div>
									</a>
								</article>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</aside>
	{% endif %}

	<!-- Artikel Actions -->

	<footer>
		<div class="container mb-5">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2">
					{{ include('_includes/component-sharing-buttons.twig') }}
					<p><a href="/magazin/{{ entry.ausgabe }}">Ausgabe {{ entry.ausgabe }}</a></p>
				</div>
			</div>
		</div>
	</footer>
	

</article>



{% endblock %}