{% if not entry %}
  {% exit 404 %}
{% endif %}

{% do craft.blitz.options({
    tags: ['ausgabe']
}) %}

{% set today = "now"|atom %}
{% set termineUpcoming = craft.entries.siteId(2).sectionId(3).limit(4).all() %}
{% set titlestoryHighlight = entry.titlestories.with(['cover']).one() %}

{% set etemPlusEntries = entry.etemPlus.with(['cover', 'titlestoryCover']).all() %}
{% set kampagnen = craft.entries.siteId(2).sectionId(4).with(['cover']).orderBy('dateCreated ASC').all() %}


{% import '_macros.twig' as macros %}
{% extends "_layout" %}

{% block ausgabe %}
<p class="mb-0 d-inline">| Ausgabe {{ entry.title }}</p>
{% endblock %}


{% block content %}


{% set titlestoryHighlightcoverTransforms = {
	  '(max-width: 575px)': {
        width: 510,
        height: 290,
        mode: 'crop',
    },
    '(max-width: 991px)': {
        width: 690,
        height: 392,
        mode: 'crop',
    },
    '(max-width: 1199px)': {
        width: 770,
        height: 437,
        mode: 'fit',
    },
    '(min-width: 1200px)': {
        width: 847,
        height: 481,
        mode: 'crop',
    }
} %}

{% set titlestoryHighlightcoverAttributes = { alt: 'Alt Text', title: titlestoryHighlight.title } %}

<div class="container my-3 my-md-5">

	<article class="mb-5 magazine-card titlestories">
		<a href="{{ titlestoryHighlight.url }}" class="card-link text-decoration-none" title="{{ titlestoryHighlight.title }}">
			<div class="row">
				<div class="col-sm-12 col-lg-4">
					<p class="category roof-row text-uppercase mb-2 mt-5">{{ titlestoryHighlight.dachzeile ? titlestoryHighlight.dachzeile : titlestoryHighlight.kategorie.one() }}</p>
					<h1 class="fw-bold mb-3">{{ titlestoryHighlight.title }}</h1>
					<p class="lead">{{ titlestoryHighlight.intro|typogrify }}</p>
				</div>
				<div class="col-sm-12 col-lg-8 order-first order-lg-last">
					<figure>
						{{ craft.images.pictureMedia(titlestoryHighlight.cover[0], titlestoryHighlightcoverTransforms, null, titlestoryHighlightcoverAttributes) }}
					</figure>
				</div>
			</div>
		</a>
	</article>

	{% set cardImgTransforms = {
	  '(max-width: 575px)': {
	      width: 180,
	      height: 140,
	      mode: 'crop'
	  },
	  '(min-width: 768px)': {
	      width: 360,
	      ratio: 16/9,
	      mode: 'crop'
	  }
	} %}

	<div class="row">
	{% for entry in entry.titlestories[1:] %}
	{% set cardImgAttributes = { alt: entry.title, title: entry.title, class:'' } %}
		<div class="col-12 col-lg-4 magazine-link mb-5 mb-lg-0">
			<a href="{{ entry.url }}" class="row text-decoration-none">
				<div class="col-4 col-md-6">
					{% set cover = entry.titlestoryCover[0] ??? entry.cover[0] %}
					{{ craft.images.pictureMedia(cover, cardImgTransforms, null, cardImgAttributes) }}
				</div>
				<div class="col-8 col-md-6">
					<p class="category roof-row text-uppercase mb-2"><small>{{ entry.dachzeile ? entry.dachzeile : entry.kategorie.one() }}</small></p>
					<h2 class="h5 mb-2"><strong>{{ entry.title }}</strong></h2>
					<p>{{ (entry.intro|typogrify)|chop(limit=10, unit='w', append="…") }}</p>
				</div>
			</a>
		</div>
	{% endfor %}

	{% if entry.titlestories[1:]|length == 2 %}
		<div class="col-12 col-lg-4 mt-3 mt-lg-0">
			<a href="https://www.bgetem.de/praeventionspreis" target="_blank" class="">
				<div class="border-light border-start ms-lg-5 py-md-2">
				{% set placeholderImgTransforms = {
				  '(min-width: 345px)': {
				      height: 150,
				  }
				} %}
				{% set placeholderImgAttributes = { alt: 'Präventionspreis', title: 'Präventionspreis', style:'margin: 0 auto' } %}
				{{ craft.images.pictureMedia(craft.assets.id(11243).one(), placeholderImgTransforms, null, placeholderImgAttributes) }}
				</div>
			</a>
		</div>
	{% endif %}

	</div>
</div>



<div class="py-5">
	<div class="banner newsletter py-4 p-md-5 my-5 bg-dguv-gruen text-white">
	<div class="container">
		<div class="row p-md-5">
			<div class="col col-12 col-md-8 offset-md-2">
				{# <h2 class="h2 p-0 m-0">Erhalten Sie aktuelle Informationen direkt in Ihre Mailbox</h2> #}
				<h2 class="h2"><strong>Der etem Newsletter.</strong></h2>
				<p class="lead">Melden Sie sich jetzt für unseren Newsletter an, um über die aktuellsten Themen informiert zu werden und immer auf dem neuesten Stand zu sein.</p>
				<form action="#" class="mt-4 bg_newsletter-signup-form" id="" aria-label="Sitewide">
                {# <label class="sr-only" for="header-search">Suchbegriff/Webcode</label> #}
                <div class="input-group">
                  <input type="email" name="email" class="form-control border border-white p-4 text-white" id="" placeholder="ihr-name@email.com" aria-label="Email" data-form-type="" style="background: rgba(255,255,255,0.1);">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-light border-white p-4" data-form-type="" style="background: rgba(255,255,255,0.1);">Absenden</button>
                  </div>
                </div>
              </form>
              <small class="mt-3">Mit ihrem Abonnement stimmen Sie unseren <a href="https://www.bgetem.de/die-bgetem/datenschutz" target="_blank">Datenschutzbestimmungen</a> zu. <a href="https://www.bgetem.de/medien-service/etem-magazin-fuer-praevention-rehabilitation-und-entschaedigung/newsletter-etem" target="_blank">Newsletter-Archiv</a></small>
			</div>
		</div>
	</div>
</div>
</div>






{# THEMEN #}


{% set themenEntries = entry.themen.with(['cover', 'titlestoryCover', 'kategorie']).all() %}

{% set cardImgTransforms = {
  '(min-width: 345px)': {
      width: 718,
      height: 416,
  }
} %}


<div class="container my-3 my-md-5">
	<div class="row">
		{% for entry in themenEntries[:2] %}
		{{ macros.articleGrid(entry, cardImgTransforms) }}
		{% endfor %}
		<div class="col-sm-12 col-md-6 col-lg-4 my-3 d-flex align-items-stretch">
			<div class="magazine-card themen has-background-mask text-white bg-dguv-blau">
				<div class="card-body">
					<h2>Termine</h2>
					{% for entry in termineUpcoming %}
					<a href="{{ entry.terminUrl }}" target="_blank" class="text-decoration-none">
						<p>{{ entry.datum|date('d.m.Y') }} | {{ entry.ort }}<br>{{ entry.title }}</p>
					</a>
					{% endfor %}
					<p><a href="http://www.bgetem.de/presse-aktuelles/termine" target="_blank">Weitere Termine</a></p>
				</div>
			</div>
		</div>
		{% for entry in themenEntries[2:] %}
		{{ macros.articleGrid(entry, cardImgTransforms) }}
		{% endfor %}
	</div>
</div>


	{% set branchSmallCardImgTransforms = {
	  '(min-width: 345px)': {
	      width: 609,
	      height: 347,
	      mode: 'crop'
	  }
	} %}

		{% set branchLargeCardImgTransforms = {
	  '(min-width: 345px)': {
	      width: 768,
	      height: 437,
	      mode: 'crop'
	  }
	} %}



<div class="py-5">
	<div class="container">
		<div class="border border-light p-3 p-lg-5">
			<h1 class="display fw-bold color-dguv-blau my-3">etem <i style="color:#afca06;">plus</i></h1>
			<div class="row">
				{% for entry in etemPlusEntries %}
				{% set cardImgAttributes = { alt: entry.title, title: entry.title, class:'pb-2' } %}
				<div class="magazine-link col-sm-12 col-md-6 py-3 py-md-4">
					<a href="{{ entry.url }}" class="card-link p-0 row text-decoration-none">
						<div class="col-5 col-md-6">
							{% if entry.titlestoryCover is not empty %}
							{{ craft.images.pictureMedia(entry.titlestoryCover[0], branchSmallCardImgTransforms, null, cardImgAttributes) }}
							{% elseif entry.cover is not empty %}
							{{ craft.images.pictureMedia(entry.cover[0], branchSmallCardImgTransforms, null, cardImgAttributes) }}
							{% endif %}
						</div>
						<div class="col-7 col-md-6">
							<p class="category roof-row text-uppercase mb-2"><small>{{ entry.dachzeile ? entry.dachzeile : entry.kategorie.one() }}</small></p>
							<h2 class="h4 mb-2"><strong>{{ entry.title }}</strong></h2>
							<p class="">
								{{ (entry.intro|typogrify)|chop(limit=15, unit='w', append="…") }}
							</p>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
{% set galleryImgTransforms = {
  '(max-width: 1199px)': {
      width: 450,
  },
  '(min-width: 1200px)': {
      width: 1176,
  }
} %}
{% set galleryThumbTransforms = {
  '(max-width: 1199px)': {
      width: 250,
  }
} %}
<h2 class="text-center my-3">Kampagnen</h2>
<div id="gallery-kampagnen" class="carousel carousel-dark slide carousel-fade my-4" data-bs-ride="carousel" data-bs-interval="false">
	<!-- Slides -->
	<div class="carousel-inner">
		{% for entry in kampagnen %}
		{% set galleryImgAttributes = { alt: 'Image ' ~ loop.index, title: entry.title, class:'d-block w-100' } %}
		<div class="carousel-item{{ loop.index == 1 ? ' active' }}">
			<figure>
				{{ craft.images.pictureMedia(entry.cover.one(), galleryImgTransforms, null, galleryImgAttributes) }}
				<figcaption>
					{{ entry.cover.one().imgCaption|length ? entry.cover.one().imgCaption ~ ' ' ~ loop.index : null }}
				</figcaption>
			</figure>
		</div>
		{% endfor %}
		<!-- Previous/Next buttons -->
		<button class="carousel-control-prev" type="button" data-bs-target="#gallery-kampagnen" data-bs-slide="prev">
			<span class="carousel-control-prev-icon p-2 rounded-circle" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#gallery-kampagnen" data-bs-slide="next">
			<span class="carousel-control-next-icon p-2 rounded-circle" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<!-- Indicators -->
	<div class="carousel-indicators position-relative">
	{% for entry in kampagnen %}
		<button type="button" data-bs-target="#gallery-kampagnen" data-bs-slide-to="{{ loop.index0 }}" class="{{ loop.index == 1 ? ' active' }}" aria-current="{{ loop.index == 1 ? 'true' }}" aria-label="Slide {{ loop.index }}"></button>
	{% endfor %}
	</div>
	{# <!-- Thumbnails -->
	<div class="d-flex justify-content-center bg_carousel-thumbnails mt-3 w-100">
		{% for entry in kampagnen %}
		{% set galleryThumbAttributes = { alt: 'Image ' ~ loop.index, title: entry.title, class:'d-block w-100', data: { 'bs-slide-to': loop.index0, 'bs-target': '#gallery' } } %}
		<div class="carousel-thumbnail {{ loop.index == 1 ? ' active' }}">
			{{ craft.images.pictureMedia(entry.cover.one(), galleryThumbTransforms, null, galleryThumbAttributes) }}
		</div>
		{% endfor %}
	</div> #}
	<div class="mt-0 px-3 px-md-4 py-4 d-flex justify-content-center">
		<div class="w-75">
			<p class="h2 text-center color-dguv-blau">An: &lt;Ihre Beschäftigten&gt;</p>
			<p class="h4 text-center">Die neue Plakataktion der BG ETEM ist ein echter Hingucker. Zwölf Motive zeigen, worauf Beschäftigte bei der Arbeit achten müssen. Für Mitgliedsbetriebe kostenlos in unserem Medienportal. Mehr Infos für Profis gibt es in unserem Präventionsportal für Versicherte: https://profi.bgetem.de</p>
		</div>
	</div>
</div>

{%- js -%}
	var thumbnailContainers = document.querySelectorAll('.carousel-thumbnail');
	var indicators = document.querySelectorAll('.carousel-indicators button');

	// Update the active thumbnail and indicator when the slide changes
	document.getElementById('gallery-kampagnen').addEventListener('slide.bs.carousel', function (event) {
	var index = event.to;
	for (var i = 0; i < thumbnailContainers.length; i++) {
	  thumbnailContainers[i].classList.remove('active');
	}
	thumbnailContainers[index].classList.add('active');
	for (var i = 0; i < indicators.length; i++) {
	  indicators[i].classList.remove('active');
	}
	indicators[index].classList.add('active');
	});
{%- endjs -%}


</div>

{% endblock %}


